@import "colors/blue-matrix.css";

* {
    border: none;
    border-radius: 0;
    font-family: "IBM Plex Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @bg;
    color: @fg;
    border-radius: 0px;
    margin: 8px;
}

/* Left - Workspaces */
#workspaces {
    padding: 0 8px;
    margin: 4px 0 4px 4px;
}

#workspaces button {
    padding: 0 12px;
    color: @comment;
    background: transparent;
}

#workspaces button:hover {
    color: @type;
}

#workspaces button.active {
    color: @string;
}

#workspaces button.urgent {
    color: @error;
}

/* Left - Network, Bluetooth, Audio */
#network {
    margin-right: 6px;
}

#bluetooth {
    margin-right: 6px;
}

/* Left - Clock */
#clock {
    color: @string;
    margin-left: 12px;
    margin-right: 6px;
}

/* Right - Local IP, CPU, Memory, Temperature, Load */
#custom-local-ip {
    margin-right: 6px;
}

#cpu {
    margin-right: 6px;
}

#memory {
    color: @keyword;
    margin-right: 6px;
}

#temperature {
    margin-right: 6px;
}

#load {
    margin-right: 12px;
}

#pulseaudio {
    margin-right: 6px;
}

#pulseaudio.muted {
    color: @error;
}

#custom-notifications {
    color: @hint;
    padding: 0 12px;
    margin: 4px 4px 4px 0;
}
